.welcome-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-card {
    width: 65vw;
    height: 70vh;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-card h1 {
    margin: 0;
    color: black;
    font-size: 2.2rem;
}

.matter {
    font-size: medium;
    color: black;
}

.happy-card {

    width: 65vh;
    height: 50vh;
}

.booImg {
    width: max-content;
    height: 50vh;
}